// COLOR VARIABLES
$color-primary: #0b0d17;
$color-secondary: #d0d6f9;
$color-white: #fff;

$color-grey-dark: #50535b;
$color-grey-light: #8f9195;

// MEDIA QUERY
$screen-large2: 81.25em; // 1300px
$screen-large1: 68.75em; // 1100px
$screen-tablet: 62.5em; // 1000px
$screen-mobile: 40.625em; // 630px
$screen-mini: 22.5em; // 360px

//////////////////////////////////////@at-root

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-height: 100%;
  box-sizing: border-box;
  font-size: 62.5%; // 10px as 1 rem

  overflow-x: hidden;

  @media only screen and (max-width: $screen-mini) {
    font-size: 56.25%;
  }
}

body {
  font-family: "Bellefair", serif;
  color: $color-secondary;
  font-weight: 400;
  line-height: 1.6;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, min-content);

  @media only screen and (max-width: $screen-tablet) {
    // grid-template-columns: min-content;
    grid-template-columns: minmax(min-content, 1fr);
  }
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 3rem 0 0 3rem;

  @media only screen and (max-width: $screen-tablet) {
    padding: 0;
    justify-content: space-between;
  }

  &__icon {
    width: 5rem;
    height: 5rem;
    margin: 0 2rem;

    @media only screen and (max-width: $screen-tablet) {
      margin: 6px 4rem 0 4rem;
    }

    @media only screen and (max-width: $screen-mobile) {
      margin: 4rem 4rem 0 4rem;
    }
  }

  &__decoline {
    height: 1px;
    width: 35vw;
    background-color: rgba($color-white, 0.2);
    transform: translateX(4rem);
    position: relative;
    z-index: 10;

    @media only screen and (max-width: $screen-large2) {
      width: 33vw;
    }
    @media only screen and (max-width: $screen-tablet) {
      display: none;
    }
  }

  &__button {
    display: none;

    @media only screen and (max-width: $screen-mobile) {
      position: fixed;
      top: 4rem;
      right: 4rem;
      z-index: 1000;
      cursor: pointer;
      margin-top: 1rem;

      display: flex;
      gap: 1rem;
      flex-direction: column;
    }

    &__icon-1,
    &__icon-2,
    &__icon-3 {
      width: 3.5rem;
      height: 4px;
      background-color: $color-secondary;
      display: inline-block;
    }

    &__icon-1,
    &__icon-3 {
      transform-origin: center;
      transition: all 0.3s;
    }

    &__icon-1--active {
      transform: rotate(135deg) translate(1rem, -1rem);
    }

    &__icon-2--active {
      background-color: transparent;
    }

    &__icon-3--active {
      transform: rotate(-135deg) translate(1rem, 1rem);
    }
  }

  &__links {
    position: relative;
    display: flex;
    gap: 5rem;

    width: 60%;
    padding: 0 4rem 0 13rem;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-image: linear-gradient(
      to right,
      rgba($color-white, 0.05),
      rgba($color-secondary, 0.1)
    );

    & > * {
      text-decoration: none;
    }

    @media only screen and (max-width: $screen-large2) {
      gap: 4rem;
      padding: 0 2rem 0 9rem;
    }

    @media only screen and (max-width: $screen-large1) {
      gap: 3rem;
      padding: 0 2rem 0 7rem;
    }

    @media only screen and (max-width: $screen-tablet) {
      justify-content: space-evenly;
      gap: 0;
      padding: 0;
    }

    @media only screen and (max-width: $screen-mobile) {
      position: fixed;
      width: 70%;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 999;

      gap: 2rem;
      flex-direction: column;
      justify-content: flex-start;

      padding: 20rem 0 0 5rem;
      transform: translateX(100%);
      transition: all 0.3s;

      background-image: linear-gradient(
        to bottom,
        rgba($color-primary, 0.3),
        rgba($color-secondary, 0.3)
      );
    }

    &--close {
      @media only screen and (max-width: $screen-mobile) {
        transform: translateX(100%);
      }
    }

    &--open {
      @media only screen and (max-width: $screen-mobile) {
        transform: translateX(0);
      }
    }
  }

  &__link {
    color: $color-white;
    cursor: pointer;
    padding: 3.5rem 0 calc(3.5rem - 3px) 0;
    border-bottom: 3px solid rgba($color-white, 0);
    transition: border-bottom 0.2s;

    @media only screen and (max-width: $screen-mobile) {
      padding: 1rem 0;
      border-bottom: none;
    }

    &--active {
      border-bottom: 3px solid rgba($color-white, 1);

      @media only screen and (max-width: $screen-mobile) {
        border-bottom: none;
        border-right: 5px solid rgba($color-white, 1);
      }
    }

    &:hover:not(.nav__link--active) {
      border-bottom: 3px solid rgba($color-white, 0.4);

      @media only screen and (max-width: $screen-mobile) {
        border-bottom: none;
        border-right: 5px solid rgba($color-white, 0.4);
      }
    }

    &__num {
      @media only screen and (max-width: $screen-tablet) {
        display: none;
      }

      @media only screen and (max-width: $screen-mobile) {
        display: inline-block;
      }
    }
  }
}

.sub-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;

  @media only screen and (max-width: $screen-tablet) {
    margin-left: 10%;
  }

  @media only screen and (max-width: $screen-mobile) {
    margin: 0;
    justify-content: center;
  }

  &__num {
    color: $color-grey-dark;
    font-weight: bold;
  }

  &__text {
    color: $color-white;
  }
}
