// COLOR VARIABLES
$color-primary: #0b0d17;
$color-secondary: #d0d6f9;
$color-white: #fff;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px as 1 rem
}

body {
  font-family: "Bellefair", serif;
  color: $color-secondary;
  font-weight: 400;
  line-height: 1.6;
}
