%slide-setting {
  position: absolute;
  width: 100%;
}

//////////////////////////////

.background-3 {
  background-image: url(../assets/crew/background-crew-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;

  @media only screen and (max-width: $screen-tablet) {
    background-image: url(../assets/crew/background-crew-tablet.jpg);
  }

  @media only screen and (max-width: $screen-mobile) {
    background-image: url(../assets/crew/background-crew-mobile.jpg);
  }
}

.crew {
  grid-column-gap: 0;
  justify-content: center;
  padding-top: 10rem;
  position: relative;

  @media only screen and (max-width: $screen-tablet) {
    justify-items: center;
  }

  @media only screen and (max-width: $screen-mobile) {
    padding: 6rem 0;
  }

  &__content {
    width: 63rem;

    @media only screen and (max-width: $screen-large2) {
      width: 50rem;
    }

    @media only screen and (max-width: $screen-tablet) {
      width: 100%;
    }

    @media only screen and (max-width: $screen-mobile) {
      display: flex;
      flex-direction: column-reverse;
    }

    .sub-title {
      width: max-content;
      margin-bottom: 15rem;

      @media only screen and (max-width: $screen-large2) {
        margin-bottom: 10rem;
      }

      @media only screen and (max-width: $screen-mobile) {
        position: absolute;
        left: 50%;
        top: 6rem;
        margin-bottom: 0;
        transform: translateX(-50%);
      }
    }

    .heading-3 {
      color: $color-white;
      margin-bottom: 2rem;
    }

    .heading-4 {
      color: $color-grey-light;
    }

    .body-text {
      display: block;
      width: 43rem;
      margin-bottom: 10rem;

      @media only screen and (max-width: $screen-tablet) {
        width: 100%;
      }

      @media only screen and (max-width: $screen-tablet) {
        margin-bottom: 5rem;
        padding: 0 18%;
      }

      @media only screen and (max-width: $screen-mobile) {
        padding: 0 5%;
      }
    }
  }

  &__slider {
    position: relative;
    min-height: 38rem;
    overflow: hidden;

    @media only screen and (max-width: $screen-tablet) {
      text-align: center;
      min-height: 32rem;
      margin-bottom: 3rem;
    }
  }

  &__slide {
    @extend %slide-setting;

    top: 0;

    @media only screen and (max-width: $screen-tablet) {
      padding: 0;
    }
  }

  &__imgs {
    position: relative;
    width: 62.5rem;
    min-height: 70rem;
    overflow: hidden;

    @media only screen and (max-width: $screen-large2) {
      width: 55rem;
    }

    @media only screen and (max-width: $screen-large1) {
      min-height: 62.5rem;
      width: 50rem;
    }

    @media only screen and (max-width: $screen-mobile) {
      width: 90vw;
      min-height: 360px;

      grid-row: 1 / 2;
      margin-top: 7rem;
      margin-bottom: 5rem;
      border-bottom: 1px solid rgba($color-white, 0.2);
    }
  }

  &__img {
    @extend %slide-setting;

    bottom: 0;

    @media only screen and (max-width: $screen-tablet) {
      margin-left: 0;
      text-align: center;
    }

    @media only screen and (max-width: $screen-mobile) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & > img {
      @media only screen and (max-width: $screen-large1) {
        height: 580px;
      }

      @media only screen and (max-width: $screen-mobile) {
        height: 350px;
      }
    }
  }

  &__dots {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    gap: 2rem;

    @media only screen and (max-width: $screen-tablet) {
      justify-content: center;
    }

    @media only screen and (max-width: $screen-tablet) {
      margin-top: 0;
      margin-bottom: 5rem;
    }

    .dot {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      cursor: pointer;
      background-color: rgba($color-white, 0.3);
      transition: all 0.2s;

      &:hover:not(.dot--active) {
        background-color: rgba($color-white, 0.5);
      }

      &--active {
        background-color: $color-white;
      }
    }
  }
}
