.background-2 {
  background-image: url(../assets/destination/background-destination-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;

  @media only screen and (max-width: $screen-tablet) {
    background-image: url(../assets/destination/background-destination-tablet.jpg);
  }

  @media only screen and (max-width: $screen-mobile) {
    background-image: url(../assets/destination/background-destination-mobile.jpg);
  }
}

.planet-img {
  margin: 8rem;
  display: none;

  @media only screen and (max-width: $screen-tablet) {
    margin: 8rem 12rem 2rem 12rem;
    text-align: center;
  }

  @media only screen and (max-width: $screen-mobile) {
    margin: 4rem 8rem 2rem 8rem;
  }

  &--active {
    display: block;
  }

  & > img {
    @media only screen and (max-width: $screen-mobile) {
      width: 280px;
      height: auto;
    }
  }
}

.sub-nav {
  display: flex;
  gap: 3rem;
  justify-content: flex-start;
  color: $color-white;
  margin-bottom: 1rem;

  @media only screen and (max-width: $screen-tablet) {
    gap: 5rem;
    justify-content: center;
    margin: 3rem 0;
  }

  @media only screen and (max-width: $screen-mobile) {
    gap: 3rem;
    margin: 1.5rem 0;
  }

  &__link {
    color: $color-secondary;
    cursor: pointer;
    padding: 1rem 0 calc(1rem - 3px) 0;
    border-bottom: 3px solid rgba($color-white, 0);
    transition: border-bottom 0.2s;

    a {
      color: currentColor;
      text-decoration: none;
    }

    &--active {
      color: $color-white;
      border-bottom: 3px solid rgba($color-white, 1);
    }

    &:hover:not(.sub-nav__link--active) {
      border-bottom: 3px solid rgba($color-white, 0.4);
    }
  }
}

.destination {
  grid-column-gap: 12rem;
  justify-content: center;
  padding: 10rem 0;

  @media only screen and (max-width: $screen-large2) {
    grid-column-gap: 0;
  }

  @media only screen and (max-width: $screen-mobile) {
    padding: 6rem 0;
  }

  &__title {
    position: relative;
  }

  &__content {
    margin-top: 9rem;

    @media only screen and (max-width: $screen-tablet) {
      margin-top: 0;
    }

    .heading-2,
    .subheading-1 {
      color: $color-white;
    }

    .body-text {
      display: block;
      width: 43rem;
      padding-bottom: 5rem;
      border-bottom: 1px solid rgba($color-white, 0.2);

      @media only screen and (max-width: $screen-tablet) {
        width: auto;
        margin: 0 10rem;
      }

      @media only screen and (max-width: $screen-mobile) {
        margin: 0 10%;
      }
    }
  }

  &__text {
    display: none;

    @media only screen and (max-width: $screen-tablet) {
      text-align: center;
    }

    &--active {
      display: block;
    }
  }

  &__info {
    display: flex;
    gap: 8rem;
    justify-content: center;
    margin-top: 2rem;

    @media only screen and (max-width: $screen-tablet) {
      margin-top: 4rem;
      justify-content: center;
    }

    @media only screen and (max-width: $screen-mobile) {
      gap: 3rem;
      flex-direction: column;
    }

    &-1,
    &-2 {
      display: flex;
      flex-direction: column;
    }
  }
}
