.background-2 {
  background-image: url(../assets/destination/background-destination-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.planet-img {
  margin: 8rem;
  display: none;

  @media only screen and (max-width: $screen-tablet) {
    margin: 8rem 16rem 2rem 16rem;
  }

  &--active {
    display: block;
  }
}

.sub-nav {
  display: flex;
  gap: 3rem;
  justify-content: flex-start;
  color: $color-white;
  margin-bottom: 1rem;

  @media only screen and (max-width: $screen-tablet) {
    gap: 5rem;
    justify-content: center;
    margin: 3rem 0;
  }

  &__link {
    color: $color-white;
    cursor: pointer;
    padding: 1rem 0 calc(1rem - 3px) 0;
    border-bottom: 3px solid rgba($color-white, 0);
    transition: border-bottom 0.2s;

    a {
      color: currentColor;
      text-decoration: none;
    }

    &--active {
      border-bottom: 3px solid rgba($color-white, 1);
    }

    &:hover:not(.sub-nav__link--active) {
      border-bottom: 3px solid rgba($color-white, 0.4);
    }
  }
}

.destination {
  grid-column-gap: 12rem;
  justify-content: center;
  padding: 10rem 0;

  @media only screen and (max-width: $screen-tablet) {
    grid-column-gap: 0;
  }

  &__title {
    position: relative;
  }

  &__content {
    margin-top: 9rem;

    @media only screen and (max-width: $screen-tablet) {
      margin-top: 0;
    }

    .heading-2,
    .subheading-1 {
      color: $color-white;
    }

    .body-text {
      display: block;
      width: 43rem;
      padding-bottom: 5rem;
      border-bottom: 1px solid rgba($color-white, 0.2);

      @media only screen and (max-width: $screen-tablet) {
        width: auto;
        margin: 0 7rem;
      }
    }
  }

  &__text {
    display: none;

    @media only screen and (max-width: $screen-tablet) {
      text-align: center;
    }

    &--active {
      display: block;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 8rem;
    margin-top: 2rem;

    @media only screen and (max-width: $screen-tablet) {
      margin-top: 4rem;
      justify-content: center;
    }

    .subheading-2 {
      grid-row: 1 / 2;
    }
  }
}
