.background-1 {
  background-image: url(../assets/home/background-home-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;

  @media only screen and (max-width: $screen-tablet) {
    background-image: url(../assets/home/background-home-tablet.jpg);
  }

  @media only screen and (max-width: $screen-mobile) {
    background-image: url(../assets/home/background-home-mobile.jpg);
  }
}

.home {
  grid-column-gap: calc(70% - 60rem);
  justify-content: center;
  padding: 18rem 0;

  @media only screen and (max-width: $screen-tablet) {
    gap: 13rem;
    padding: 13rem 0;
    text-align: center;
  }

  @media only screen and (max-width: $screen-mobile) {
    padding: 8rem 0;
  }

  &__span {
    @media only screen and (max-width: $screen-tablet) {
      display: block;
      max-width: 60%;
      margin: 0 auto;
    }

    @media only screen and (max-width: $screen-mobile) {
      max-width: 80%;
    }
  }

  &__btn {
    align-self: end;
    position: relative;
  }

  &__h1 {
    color: $color-white;
  }
}

.btn {
  @extend %heading;

  background-color: $color-white;
  color: $color-primary;
  border: none;

  cursor: pointer;
  position: relative;
  z-index: 10;

  &,
  &--hover {
    font-size: 3rem;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;

    @media only screen and (max-width: $screen-mobile) {
      font-size: 2.6rem;
      width: 21rem;
      height: 21rem;
    }
  }

  &--hover {
    position: absolute;
    top: 0;
    left: 0;

    transition: all 0.3s;
    background-color: rgba($color-white, 0.15);
    z-index: 1;

    @media only screen and (max-width: $screen-tablet) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &:hover + &--hover,
  &:active + &--hover {
    transform: scale(1.5);

    @media only screen and (max-width: $screen-tablet) {
      transform: scale(1.5) translateX(-33%);
    }
  }

  @media only screen and (max-width: $screen-tablet) {
    margin: 0 auto;
  }

  a:link,
  a:visited {
    display: block;
    width: 100%;
    height: 100%;
    color: currentColor;
  }

  span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    letter-spacing: 2px;
  }
}
