.background-1 {
  background-image: url(../assets/home/background-home-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.home {
  grid-column-gap: calc(70% - 60rem);
  padding: 18rem 0;

  &__btn {
    align-self: end;
    position: relative;
  }

  &__h1 {
    color: $color-white;
  }
}
