.background-1 {
  width: 100%;
  height: 100%;
  background-image: url(../assets/home/background-home-desktop.jpg);
  background-size: cover;
}

.home {
  grid-column-gap: calc(70% - 60rem);

  &__btn {
    align-self: end;
    position: relative;
  }

  &__h1 {
    color: $color-white;
  }
}
