.background-4 {
  background-image: url(../assets/technology/background-technology-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.technology {
  grid-column-gap: 0;
  justify-content: space-between;
  padding-top: 10rem;

  &__content {
    margin-left: 16rem;
    width: 65rem;

    .sub-title {
      margin-bottom: 14rem;
    }

    .heading-3 {
      color: $color-white;
    }

    .body-text {
      display: block;
      width: 43rem;
      margin-bottom: 10rem;
    }
  }

  &__container {
    display: flex;
  }

  &__slider {
    position: relative;
    min-width: 49rem;
    overflow: hidden;
  }

  &__slide {
    @extend %slide-setting;

    top: 0;
    margin: 0 1rem;
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-right: 8rem;

    .tab {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 8rem;
      height: 8rem;
      color: $color-white;
      border: 1px solid rgba($color-white, 0.3);
      border-radius: 50%;
      cursor: pointer;
      background-color: transparent;
      transition: all 0.2s;

      &:hover:not(.tab--active) {
        border: 1px solid $color-white;
      }

      &--active {
        color: $color-primary;
        background-color: $color-white;
      }
    }
  }

  &__imgs {
    position: relative;
    width: 51.5rem;
    min-height: 60rem;
    overflow: hidden;
  }

  &__img {
    @extend %slide-setting;

    right: 0;

    & > * {
      display: block;
      margin-top: 8rem;
    }
  }
}
