*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  min-height: 100%;
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Bellefair", serif;
  color: #d0d6f9;
  font-weight: 400;
  line-height: 1.6; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, min-content); }

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem 0 0 3rem; }
  .nav__icon {
    width: 5rem;
    height: 5rem;
    margin: 0 2rem; }
  .nav__decoline {
    height: 1px;
    width: 35vw;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateX(4rem);
    position: relative;
    z-index: 10; }
  .nav__links {
    position: relative;
    display: flex;
    gap: 5rem;
    width: 60%;
    padding: 0 4rem 0 13rem;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05), rgba(208, 214, 249, 0.1)); }
    .nav__links > * {
      text-decoration: none; }
  .nav__link {
    color: #fff;
    cursor: pointer;
    padding: 3.5rem 0 calc(3.5rem - 3px) 0;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    transition: border-bottom 0.2s; }
    .nav__link--active {
      border-bottom: 3px solid white; }
    .nav__link:hover:not(.nav__link--active) {
      border-bottom: 3px solid rgba(255, 255, 255, 0.4); }

.sub-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem; }
  .sub-title__num {
    color: #50535b;
    font-weight: bold; }
  .sub-title__text {
    color: #fff; }

.heading-1, .heading-2, .heading-3, .heading-4, .subheading-1, .btn {
  font-family: "Bellefair", serif;
  font-weight: 400;
  text-transform: uppercase; }

.heading-5, .subheading-2, .nav-text {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase; }

.heading-1 {
  font-size: 15rem; }

.heading-2 {
  font-size: 10rem; }

.heading-3 {
  font-size: 5.6rem; }

.heading-4 {
  font-size: 3.2rem; }

.heading-5 {
  font-size: 2.8rem;
  letter-spacing: 4.75px; }

.subheading-1 {
  font-size: 2.8rem; }

.subheading-2 {
  font-size: 1.4rem;
  letter-spacing: 2.35px; }

.nav-text {
  font-size: 1.6rem;
  letter-spacing: 2.7px; }

.body-text {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 1.8rem; }

.btn {
  background-color: #fff;
  color: #0b0d17;
  border: none;
  border-radius: 50%;
  font-size: 3rem;
  cursor: pointer;
  width: 25rem;
  height: 25rem;
  position: relative;
  z-index: 10; }
  .btn--hover {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.5);
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.15);
    z-index: 1; }
  .btn:hover + .btn--hover {
    transform: scale(1.5); }
  .btn span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.background-1 {
  background-image: url(../assets/home/background-home-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; }

.home {
  grid-column-gap: calc(70% - 60rem);
  justify-content: center;
  padding: 18rem 0; }
  .home__btn {
    align-self: end;
    position: relative; }
  .home__h1 {
    color: #fff; }

.background-2 {
  background-image: url(../assets/destination/background-destination-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; }

.planet-img {
  margin: 8rem; }

.sub-nav {
  display: flex;
  gap: 3rem;
  justify-content: flex-start;
  color: #fff;
  margin-bottom: 1rem; }
  .sub-nav__link {
    color: #fff;
    cursor: pointer;
    padding: 1rem 0 calc(1rem - 3px) 0;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    transition: border-bottom 0.2s; }
    .sub-nav__link a {
      color: currentColor;
      text-decoration: none; }
    .sub-nav__link--active {
      border-bottom: 3px solid white; }
    .sub-nav__link:hover:not(.sub-nav__link--active) {
      border-bottom: 3px solid rgba(255, 255, 255, 0.4); }

.destination {
  grid-column-gap: 12rem;
  justify-content: center;
  padding: 10rem 0; }
  .destination__title {
    position: relative; }
  .destination__content {
    margin-top: 9rem; }
    .destination__content .heading-2,
    .destination__content .subheading-1 {
      color: #fff; }
    .destination__content .body-text {
      display: block;
      width: 43rem;
      padding-bottom: 5rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .destination__info {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 8rem;
    margin-top: 2rem; }
    .destination__info .subheading-2 {
      grid-row: 1 / 2; }

.background-3 {
  background-image: url(../assets/crew/background-crew-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; }

.crew {
  grid-column-gap: 0;
  justify-content: center;
  padding-top: 10rem; }
  .crew__content {
    width: 50rem; }
    .crew__content .sub-title {
      margin-bottom: 15rem; }
    .crew__content .heading-3 {
      color: #fff;
      margin-bottom: 2rem; }
    .crew__content .heading-4 {
      color: #8f9195; }
    .crew__content .body-text {
      display: block;
      width: 43rem;
      margin-bottom: 10rem; }
  .crew__img {
    margin-left: 15rem; }
  .crew__dots {
    display: flex;
    align-items: center;
    gap: 2rem; }
    .crew__dots .dot {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.3);
      transition: all 0.2s; }
      .crew__dots .dot:hover:not(.dot--active) {
        background-color: rgba(255, 255, 255, 0.5); }
      .crew__dots .dot--active {
        background-color: #fff; }

.background-4 {
  background-image: url(../assets/technology/background-technology-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; }

.technology {
  grid-column-gap: 0;
  justify-content: space-between;
  padding-top: 10rem; }
  .technology__content {
    margin-left: 16rem;
    width: 65rem; }
    .technology__content .sub-title {
      margin-bottom: 14rem; }
    .technology__content .heading-3 {
      color: #fff; }
    .technology__content .body-text {
      display: block;
      width: 43rem;
      margin-bottom: 10rem; }
  .technology__container {
    display: flex; }
  .technology__tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-right: 8rem; }
    .technology__tabs .tab {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8rem;
      height: 8rem;
      color: #fff;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      background-color: transparent;
      transition: all 0.2s; }
      .technology__tabs .tab:hover:not(.tab--active) {
        border: 1px solid #fff; }
      .technology__tabs .tab--active {
        color: #0b0d17;
        background-color: #fff; }
  .technology__img {
    margin-top: 8rem; }
