*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  min-height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden; }
  @media only screen and (max-width: 22.5em) {
    html {
      font-size: 56.25%; } }

body {
  font-family: "Bellefair", serif;
  color: #d0d6f9;
  font-weight: 400;
  line-height: 1.6; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, min-content); }
  @media only screen and (max-width: 62.5em) {
    .grid-container {
      grid-template-columns: minmax(min-content, 1fr); } }

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem 0 0 3rem; }
  @media only screen and (max-width: 62.5em) {
    .nav {
      padding: 0;
      justify-content: space-between; } }
  .nav__icon {
    width: 5rem;
    height: 5rem;
    margin: 0 2rem; }
    @media only screen and (max-width: 62.5em) {
      .nav__icon {
        margin: 6px 4rem 0 4rem; } }
    @media only screen and (max-width: 40.625em) {
      .nav__icon {
        margin: 4rem 4rem 0 4rem; } }
  .nav__decoline {
    height: 1px;
    width: 35vw;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateX(4rem);
    position: relative;
    z-index: 10; }
    @media only screen and (max-width: 81.25em) {
      .nav__decoline {
        width: 33vw; } }
    @media only screen and (max-width: 62.5em) {
      .nav__decoline {
        display: none; } }
  .nav__button {
    display: none; }
    @media only screen and (max-width: 40.625em) {
      .nav__button {
        position: fixed;
        top: 4rem;
        right: 4rem;
        z-index: 1000;
        cursor: pointer;
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
        flex-direction: column; } }
    .nav__button__icon-1, .nav__button__icon-2, .nav__button__icon-3 {
      width: 3.5rem;
      height: 4px;
      background-color: #d0d6f9;
      display: inline-block; }
    .nav__button__icon-1, .nav__button__icon-3 {
      transform-origin: center;
      transition: all 0.3s; }
    .nav__button__icon-1--active {
      transform: rotate(135deg) translate(1rem, -1rem); }
    .nav__button__icon-2--active {
      background-color: transparent; }
    .nav__button__icon-3--active {
      transform: rotate(-135deg) translate(1rem, 1rem); }
  .nav__links {
    position: relative;
    display: flex;
    gap: 5rem;
    width: 60%;
    padding: 0 4rem 0 13rem;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05), rgba(208, 214, 249, 0.1)); }
    .nav__links > * {
      text-decoration: none; }
    @media only screen and (max-width: 81.25em) {
      .nav__links {
        gap: 4rem;
        padding: 0 2rem 0 9rem; } }
    @media only screen and (max-width: 68.75em) {
      .nav__links {
        gap: 3rem;
        padding: 0 2rem 0 7rem; } }
    @media only screen and (max-width: 62.5em) {
      .nav__links {
        justify-content: space-evenly;
        gap: 0;
        padding: 0; } }
    @media only screen and (max-width: 40.625em) {
      .nav__links {
        position: fixed;
        width: 70%;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        gap: 2rem;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20rem 0 0 5rem;
        transform: translateX(100%);
        transition: all 0.3s;
        background-image: linear-gradient(to bottom, rgba(11, 13, 23, 0.3), rgba(208, 214, 249, 0.3)); } }
    @media only screen and (max-width: 40.625em) {
      .nav__links--close {
        transform: translateX(100%); } }
    @media only screen and (max-width: 40.625em) {
      .nav__links--open {
        transform: translateX(0); } }
  .nav__link {
    color: #fff;
    cursor: pointer;
    padding: 3.5rem 0 calc(3.5rem - 3px) 0;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    transition: border-bottom 0.2s; }
    @media only screen and (max-width: 40.625em) {
      .nav__link {
        padding: 1rem 0;
        border-bottom: none; } }
    .nav__link--active {
      border-bottom: 3px solid white; }
      @media only screen and (max-width: 40.625em) {
        .nav__link--active {
          border-bottom: none;
          border-right: 5px solid white; } }
    .nav__link:hover:not(.nav__link--active) {
      border-bottom: 3px solid rgba(255, 255, 255, 0.4); }
      @media only screen and (max-width: 40.625em) {
        .nav__link:hover:not(.nav__link--active) {
          border-bottom: none;
          border-right: 5px solid rgba(255, 255, 255, 0.4); } }
    @media only screen and (max-width: 62.5em) {
      .nav__link__num {
        display: none; } }
    @media only screen and (max-width: 40.625em) {
      .nav__link__num {
        display: inline-block; } }

.sub-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem; }
  @media only screen and (max-width: 62.5em) {
    .sub-title {
      margin-left: 10%; } }
  @media only screen and (max-width: 40.625em) {
    .sub-title {
      margin: 0;
      justify-content: center; } }
  .sub-title__num {
    color: #50535b;
    font-weight: bold; }
  .sub-title__text {
    color: #fff; }

.heading-1, .heading-2, .heading-3, .heading-4, .subheading-1, .btn {
  font-family: "Bellefair", serif;
  font-weight: 400;
  text-transform: uppercase; }

.heading-5, .subheading-2, .nav-text {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase; }

.heading-1 {
  font-size: 15rem; }
  @media only screen and (max-width: 40.625em) {
    .heading-1 {
      font-size: 10rem; } }

.heading-2 {
  font-size: 10rem; }
  @media only screen and (max-width: 40.625em) {
    .heading-2 {
      font-size: 7rem; } }

.heading-3 {
  font-size: 5.6rem; }
  @media only screen and (max-width: 40.625em) {
    .heading-3 {
      font-size: 3.8rem; } }

.heading-4 {
  font-size: 3.2rem; }
  @media only screen and (max-width: 40.625em) {
    .heading-4 {
      font-size: 2.2rem; } }

.heading-5 {
  font-size: 2.8rem;
  letter-spacing: 4.75px; }
  @media only screen and (max-width: 40.625em) {
    .heading-5 {
      font-size: 2rem; } }
  @media only screen and (max-width: 22.5em) {
    .heading-5 {
      font-size: 1.8rem; } }

.subheading-1 {
  font-size: 2.8rem; }
  @media only screen and (max-width: 40.625em) {
    .subheading-1 {
      font-size: 3.8rem; } }

.subheading-2 {
  font-size: 1.4rem;
  letter-spacing: 2.35px; }
  @media only screen and (max-width: 40.625em) {
    .subheading-2 {
      font-size: 2rem; } }

.nav-text {
  font-size: 1.6rem;
  letter-spacing: 2.7px; }
  @media only screen and (max-width: 40.625em) {
    .nav-text {
      font-size: 2rem; } }

.body-text {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 1.8rem; }
  @media only screen and (max-width: 40.625em) {
    .body-text {
      font-size: 2rem; } }

.background-1 {
  background-image: url(../assets/home/background-home-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; }
  @media only screen and (max-width: 62.5em) {
    .background-1 {
      background-image: url(../assets/home/background-home-tablet.jpg); } }
  @media only screen and (max-width: 40.625em) {
    .background-1 {
      background-image: url(../assets/home/background-home-mobile.jpg); } }

.home {
  grid-column-gap: calc(70% - 60rem);
  justify-content: center;
  padding: 18rem 0; }
  @media only screen and (max-width: 62.5em) {
    .home {
      gap: 13rem;
      padding: 13rem 0;
      text-align: center; } }
  @media only screen and (max-width: 40.625em) {
    .home {
      padding: 8rem 0; } }
  @media only screen and (max-width: 62.5em) {
    .home__span {
      display: block;
      max-width: 60%;
      margin: 0 auto; } }
  @media only screen and (max-width: 40.625em) {
    .home__span {
      max-width: 80%; } }
  .home__btn {
    align-self: end;
    position: relative; }
  .home__h1 {
    color: #fff; }

.btn {
  background-color: #fff;
  color: #0b0d17;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 10; }
  .btn, .btn--hover {
    font-size: 3rem;
    width: 25rem;
    height: 25rem;
    border-radius: 50%; }
    @media only screen and (max-width: 40.625em) {
      .btn, .btn--hover {
        font-size: 2.6rem;
        width: 21rem;
        height: 21rem; } }
  .btn--hover {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.15);
    z-index: 1; }
    @media only screen and (max-width: 62.5em) {
      .btn--hover {
        left: 50%;
        transform: translateX(-50%); } }
  .btn:hover + .btn--hover {
    transform: scale(1.5); }
    @media only screen and (max-width: 62.5em) {
      .btn:hover + .btn--hover {
        transform: scale(1.5) translateX(-33%); } }
  @media only screen and (max-width: 62.5em) {
    .btn {
      margin: 0 auto; } }
  .btn span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 2px; }

.background-2 {
  background-image: url(../assets/destination/background-destination-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; }
  @media only screen and (max-width: 62.5em) {
    .background-2 {
      background-image: url(../assets/destination/background-destination-tablet.jpg); } }
  @media only screen and (max-width: 40.625em) {
    .background-2 {
      background-image: url(../assets/destination/background-destination-mobile.jpg); } }

.planet-img {
  margin: 8rem;
  display: none; }
  @media only screen and (max-width: 62.5em) {
    .planet-img {
      margin: 8rem 12rem 2rem 12rem;
      text-align: center; } }
  @media only screen and (max-width: 40.625em) {
    .planet-img {
      margin: 4rem 8rem 2rem 8rem; } }
  .planet-img--active {
    display: block; }
  @media only screen and (max-width: 40.625em) {
    .planet-img > img {
      width: 280px;
      height: auto; } }

.sub-nav {
  display: flex;
  gap: 3rem;
  justify-content: flex-start;
  color: #fff;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 62.5em) {
    .sub-nav {
      gap: 5rem;
      justify-content: center;
      margin: 3rem 0; } }
  @media only screen and (max-width: 40.625em) {
    .sub-nav {
      gap: 3rem;
      margin: 1.5rem 0; } }
  .sub-nav__link {
    color: #d0d6f9;
    cursor: pointer;
    padding: 1rem 0 calc(1rem - 3px) 0;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    transition: border-bottom 0.2s; }
    .sub-nav__link a {
      color: currentColor;
      text-decoration: none; }
    .sub-nav__link--active {
      color: #fff;
      border-bottom: 3px solid white; }
    .sub-nav__link:hover:not(.sub-nav__link--active) {
      border-bottom: 3px solid rgba(255, 255, 255, 0.4); }

.destination {
  grid-column-gap: 12rem;
  justify-content: center;
  padding: 10rem 0; }
  @media only screen and (max-width: 81.25em) {
    .destination {
      grid-column-gap: 0; } }
  @media only screen and (max-width: 40.625em) {
    .destination {
      padding: 6rem 0; } }
  .destination__title {
    position: relative; }
  .destination__content {
    margin-top: 9rem; }
    @media only screen and (max-width: 62.5em) {
      .destination__content {
        margin-top: 0; } }
    .destination__content .heading-2,
    .destination__content .subheading-1 {
      color: #fff; }
    .destination__content .body-text {
      display: block;
      width: 43rem;
      padding-bottom: 5rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
      @media only screen and (max-width: 62.5em) {
        .destination__content .body-text {
          width: auto;
          margin: 0 7rem; } }
  .destination__text {
    display: none; }
    @media only screen and (max-width: 62.5em) {
      .destination__text {
        text-align: center; } }
    .destination__text--active {
      display: block; }
  .destination__info {
    display: flex;
    gap: 8rem;
    justify-content: center;
    margin-top: 2rem; }
    @media only screen and (max-width: 62.5em) {
      .destination__info {
        margin-top: 4rem;
        justify-content: center; } }
    @media only screen and (max-width: 40.625em) {
      .destination__info {
        gap: 3rem;
        flex-direction: column; } }
    .destination__info-1, .destination__info-2 {
      display: flex;
      flex-direction: column; }

.crew__slide, .crew__img, .technology__slide, .technology__img {
  position: absolute;
  width: 100%; }

.background-3 {
  background-image: url(../assets/crew/background-crew-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; }
  @media only screen and (max-width: 62.5em) {
    .background-3 {
      background-image: url(../assets/crew/background-crew-tablet.jpg); } }
  @media only screen and (max-width: 40.625em) {
    .background-3 {
      background-image: url(../assets/crew/background-crew-mobile.jpg); } }

.crew {
  grid-column-gap: 0;
  justify-content: center;
  padding-top: 10rem;
  position: relative; }
  @media only screen and (max-width: 62.5em) {
    .crew {
      justify-items: center; } }
  @media only screen and (max-width: 40.625em) {
    .crew {
      padding: 6rem 0; } }
  .crew__content {
    width: 63rem; }
    @media only screen and (max-width: 81.25em) {
      .crew__content {
        width: 50rem; } }
    @media only screen and (max-width: 62.5em) {
      .crew__content {
        width: 100%; } }
    @media only screen and (max-width: 40.625em) {
      .crew__content {
        display: flex;
        flex-direction: column-reverse; } }
    .crew__content .sub-title {
      width: max-content;
      margin-bottom: 15rem; }
      @media only screen and (max-width: 81.25em) {
        .crew__content .sub-title {
          margin-bottom: 10rem; } }
      @media only screen and (max-width: 40.625em) {
        .crew__content .sub-title {
          position: absolute;
          left: 50%;
          top: 6rem;
          margin-bottom: 0;
          transform: translateX(-50%); } }
    .crew__content .heading-3 {
      color: #fff;
      margin-bottom: 2rem; }
    .crew__content .heading-4 {
      color: #8f9195; }
    .crew__content .body-text {
      display: block;
      width: 43rem;
      margin-bottom: 10rem; }
      @media only screen and (max-width: 62.5em) {
        .crew__content .body-text {
          width: 100%; } }
      @media only screen and (max-width: 62.5em) {
        .crew__content .body-text {
          margin-bottom: 5rem;
          padding: 0 18%; } }
      @media only screen and (max-width: 40.625em) {
        .crew__content .body-text {
          padding: 0 5%; } }
  .crew__slider {
    position: relative;
    min-height: 38rem;
    overflow: hidden; }
    @media only screen and (max-width: 62.5em) {
      .crew__slider {
        text-align: center;
        min-height: 32rem;
        margin-bottom: 3rem; } }
  .crew__slide {
    top: 0; }
    @media only screen and (max-width: 62.5em) {
      .crew__slide {
        padding: 0; } }
  .crew__imgs {
    position: relative;
    width: 62.5rem;
    min-height: 70rem;
    overflow: hidden; }
    @media only screen and (max-width: 81.25em) {
      .crew__imgs {
        width: 55rem; } }
    @media only screen and (max-width: 68.75em) {
      .crew__imgs {
        min-height: 62.5rem;
        width: 50rem; } }
    @media only screen and (max-width: 40.625em) {
      .crew__imgs {
        width: 90vw;
        min-height: 360px;
        grid-row: 1 / 2;
        margin-top: 7rem;
        margin-bottom: 5rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); } }
  .crew__img {
    bottom: 0; }
    @media only screen and (max-width: 62.5em) {
      .crew__img {
        margin-left: 0;
        text-align: center; } }
    @media only screen and (max-width: 40.625em) {
      .crew__img {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    @media only screen and (max-width: 68.75em) {
      .crew__img > img {
        height: 580px; } }
    @media only screen and (max-width: 40.625em) {
      .crew__img > img {
        height: 350px; } }
  .crew__dots {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    gap: 2rem; }
    @media only screen and (max-width: 62.5em) {
      .crew__dots {
        justify-content: center; } }
    @media only screen and (max-width: 62.5em) {
      .crew__dots {
        margin-top: 0;
        margin-bottom: 5rem; } }
    .crew__dots .dot {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.3);
      transition: all 0.2s; }
      .crew__dots .dot:hover:not(.dot--active) {
        background-color: rgba(255, 255, 255, 0.5); }
      .crew__dots .dot--active {
        background-color: #fff; }

.background-4 {
  background-image: url(../assets/technology/background-technology-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; }
  @media only screen and (max-width: 62.5em) {
    .background-4 {
      background-image: url(../assets/technology/background-technology-tablet.jpg); } }

.technology {
  grid-column-gap: 0;
  justify-content: space-between;
  padding-top: 10rem;
  position: relative; }
  @media only screen and (max-width: 62.5em) {
    .technology {
      justify-content: center;
      justify-items: center; } }
  .technology__content {
    margin-left: 16rem; }
    @media only screen and (max-width: 81.25em) {
      .technology__content {
        margin-left: 5rem; } }
    @media only screen and (max-width: 62.5em) {
      .technology__content {
        margin-top: 4rem;
        margin-left: 0; } }
    @media only screen and (max-width: 40.625em) {
      .technology__content {
        margin-top: 1.5rem; } }
    .technology__content .sub-title {
      width: max-content;
      margin-bottom: 14rem; }
      @media only screen and (max-width: 62.5em) {
        .technology__content .sub-title {
          position: absolute;
          top: 10rem;
          left: 0;
          margin-bottom: 0; } }
      @media only screen and (max-width: 40.625em) {
        .technology__content .sub-title {
          left: 50%;
          top: 6rem;
          transform: translateX(-50%); } }
    .technology__content .heading-3 {
      color: #fff; }
    .technology__content .body-text {
      display: block;
      width: 43rem;
      margin-bottom: 10rem; }
      @media only screen and (max-width: 62.5em) {
        .technology__content .body-text {
          width: 100%;
          margin-bottom: 15rem; } }
      @media only screen and (max-width: 40.625em) {
        .technology__content .body-text {
          max-width: 90%;
          margin-top: 2rem;
          margin-left: auto;
          margin-right: auto; } }
  .technology__container {
    display: flex; }
    @media only screen and (max-width: 62.5em) {
      .technology__container {
        flex-direction: column;
        align-items: center;
        gap: 7rem;
        text-align: center;
        margin-bottom: 5rem; } }
    @media only screen and (max-width: 40.625em) {
      .technology__container {
        gap: 4rem; } }
  .technology__slider {
    position: relative;
    min-width: 49rem;
    overflow: hidden; }
    @media only screen and (max-width: 62.5em) {
      .technology__slider {
        min-height: 32rem; } }
    @media only screen and (max-width: 40.625em) {
      .technology__slider {
        min-height: 40rem;
        min-width: 95vw; } }
    @media only screen and (max-width: 22.5em) {
      .technology__slider {
        min-height: 49rem; } }
  .technology__slide {
    top: 0;
    margin: 0 1rem; }
    @media only screen and (max-width: 62.5em) {
      .technology__slide {
        margin: 0; } }
  .technology__tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-right: 8rem; }
    @media only screen and (max-width: 81.25em) {
      .technology__tabs {
        margin-right: 3rem; } }
    @media only screen and (max-width: 62.5em) {
      .technology__tabs {
        flex-direction: row;
        margin-right: 0; } }
    .technology__tabs .tab {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8rem;
      height: 8rem;
      color: #fff;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      cursor: pointer;
      background-color: transparent;
      transition: all 0.2s; }
      @media only screen and (max-width: 62.5em) {
        .technology__tabs .tab {
          width: 7rem;
          height: 7rem; } }
      @media only screen and (max-width: 40.625em) {
        .technology__tabs .tab {
          width: 5.5rem;
          height: 5.5rem; } }
      .technology__tabs .tab:hover:not(.tab--active) {
        border: 1px solid #fff; }
      .technology__tabs .tab--active {
        color: #0b0d17;
        background-color: #fff; }
  .technology__imgs {
    position: relative;
    width: 51.5rem;
    min-height: 60rem;
    overflow: hidden; }
    @media only screen and (max-width: 81.25em) {
      .technology__imgs {
        width: 45rem;
        min-height: 50rem; } }
    @media only screen and (max-width: 68.75em) {
      .technology__imgs {
        width: 40rem; } }
    @media only screen and (max-width: 62.5em) {
      .technology__imgs {
        grid-row: 1 / 2;
        width: 100vw;
        min-height: 40rem; } }
    @media only screen and (max-width: 40.625em) {
      .technology__imgs {
        min-height: calc(100vw * 0.5 + 1rem); } }
  .technology__img {
    right: 0; }
    .technology__img > * {
      display: block;
      margin-top: 8rem; }
      @media only screen and (max-width: 81.25em) {
        .technology__img > * {
          width: 450px; } }
      @media only screen and (max-width: 68.75em) {
        .technology__img > * {
          width: 400px; } }
      @media only screen and (max-width: 62.5em) {
        .technology__img > * {
          width: 101%; } }
      @media only screen and (max-width: 40.625em) {
        .technology__img > * {
          margin-top: 4rem; } }
